body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  
}
.visually-hidden {
	display: none;
}

.main-header {
	background-image: url("../img/background-photo.jpg");
	background-size:  1200px 800px;
	background-repeat: no-repeat;
	margin-top:0;
	text-align: center;


}
.bg-img {
	margin-top: 61px;
}
.logo {
	position: absolute;

}
.main-navigation{
	background: #ffffff;

}
.site-navigation {
	margin:0 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 72px;
	
}
.site-navigation li {
	display: flex;
	flex-direction: row;
	width:239px;
	height: 56px;
	margin: 0;
	align-items: center;

}


.site-navigation a {
	color:#000000;
	font-weight: bold;
	line-height: 26px;
	margin: 0 auto;

}


.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #ffffff;
  color:#81b3d2;
}

.site-navigation a.active {
	color:#766357;
}

.intro {
	margin-top: 61px;
	margin-bottom: 107px;

	

}
.intro-text {
	color: #000000;
	text-align: center;


}

.intro-text p:first-child {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 636px;
	margin: 0 auto;

}
.intro-text p:last-child {
	font-size: 14px;
	margin: 0 auto;
	margin-top: 26px;
	width: 471px;

}

.reasons {
	text-align: center;
}
.reason-img {
	overflow: hidden;
	max-height: 256px;
}
.reasons-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	
	list-style: none;
	padding-left: 0;
}
.reasons-text {
	width: 280px;
	height: 146px;
	padding-top: 46px;
	padding-bottom: 64px;
	padding-left: 60px;
	padding-right: 60px;
	margin-left: 0 0;
}
.reasons-text h3 {
	font-size: 21px;
	line-height: 21px;
	
}
.text-gray {
	background-color: #eeeeee;
}
.text-blue {
	background-color: #81b3d2;
	color:#ffffff;
}
.hotel-booking {
	text-align: center;
}
.hotel-booking h3 {
	font-size: 30px;
}
.hotel-booking p {
	line-height: 24px;
}
.hotel-booking a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;

}
.search-btn {
	padding-left: 140px;
	padding-top: 35px;
	padding-right: 139px;
	padding-bottom: 33px;

}
.search-form {
	display: flex;
	flex-direction: column;
	line-height: 26px;
	font-weight: bold;
	width: 568px;
	position: absolute;
}
.search-form button  {
	font-size: 21px;
	line-height: 26px;

}

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 132px;
}
.footer-copyright {
	margin-right: 101px;
}
.social-tw {
	width: 46px;
	height: 48px;
	fill: #000000;
}




/*Catalog*/

.hotel-filter {
	background: #5b4d4a;
	background-image: url("../img/filter-bg.png");
	background-size:  cover;
	background-repeat: no-repeat;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	
}
.filter-form {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 72px;
}
.filter-form fieldset {
	display: flex;
	flex-direction: column;
	margin-top: 28px;
	border:0 none;


}
.filter-form fieldset:last-child  {
	margin-left: auto;
	margin-right: 72px;

}
.filter-meanings li:nth-child(4) {
	margin-left: auto;
}
.filter-results {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.filter-results header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	width: 1056px;
	height: 86px;

}
.hotel-filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}
.price label {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}
.button-show {
	line-height: 21px;
	color: #ffffff;
	background: rgba(91, 77, 74, 0.7);
}
.button-show:hover,
.button-show:focus {
	background:#ffffff;
	color: #000000;
}

.sort-result h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 72px;
	align-self: center;
}
.sort-result p {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;

	margin-left: 54px;
	margin-right: 40px;
	align-self: center;
}
.filter-meanings {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
.filter-meanings li {
	margin-right: 30px;
	align-self: center;
}
.filter-meanings a:hover,
.filter-meanings a:focus {
  background-color: #ffffff;
  color:#81b3d2;
  opacity: 1;
  }

.filter-meanings li a {
	
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #81b3d2 ;
	opacity: 0.3;
}

.filter-meanings li a:active {
	color: #000000;
}


}
.hotel-card h3 a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;

}
article.hotel-card {
	width: 100%;
	border-top: 1px #e5e5e5 solid;
	display: flex;
	flex-direction: row;
}
article.hotel-card:last-child {
	border-bottom: 1px #e5e5e5 solid;
}
article.hotel-card img {
	margin-top: 30px;
	margin-bottom: 30px;
}
.hotel-card h3 a:hover {
	color:#81b3d2; 
}
.hotel-card h3 a:active {
	color: rgba(0, 0, 0, 0.3)
}
.card-info {
	margin-top: 26px;
	margin-left: 30px;
}
.card-info h3 {
	margin-top: 0;
	margin-bottom: 17px;
}
.card-info span:last-child{
	margin-left: 38px;
}

.button-booking, 
.button-info {
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 16px;
	padding-left: 16px;
}
.button-blue {
	background:#81b3d2;
	color:#ffffff; 
}
.button-blue:hover {
	background: #669ec0;
}
.button-blue:active {
	background:#5496bd;
	color: rgba(255, 255, 255, 0.3)
	
}
.button-brown {
	color: #ffffff;
	background: #766357;
	
}
.button-brown:hover {
	background: #604e43;
}
.button-brown:active {
	background:#503e33;
	color: rgba(255, 255, 255, 0.3)
}
.field,
.field:hover {
	background: #f2f2f2;
}
.field:focus {
	background: #ffffff;
}

