body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  
}

a {
  text-decoration: none;
}


.main-header {
	background-image: url("../img/background-photo.jpg");
	background-size:  1200px 800px;
	background-repeat: no-repeat;


}
.main-navigation{
	background: #ffffff;
}
.site-navigation {
	list-style: none;
}



.site-navigation a {
	color:#000000;
	font-weight: bold;
	line-height: 26px;
}


.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #ffffff;
  color:#81b3d2;
}

.site-navigation a.active {
	color:#766357;
}

.intro-text {
	color: #000000;
}

.intro-text p:first-child {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 636px;
	text-align: center;

}
.intro-text p:last-child {
	font-size: 14px;
	margin-top: 30px;
}


.reasons-list {
	list-style: none;
}
.reasons-text h3 {
	font-size: 21px;
	line-height: 21px;
}
.text-gray {
	background-color: #eeeeee;
}
.text-blue {
	background-color: #81b3d2;
	color:#ffffff;
}
.hotel-booking h3 {
	font-size: 30px;
}
.hotel-booking p {
	line-height: 24px;
}
.hotel-booking a {
	font-size: 21px;
	line-height: 26px;
}
.search-form {
	line-height: 26px;
	font-weight: bold;
}
.search-form button  {
	font-size: 21px;
	line-height: 26px;
}


.tag {
	font-size: 21px;
	line-height: 26px;
}

/*Catalog*/

.hotel-filter {
	background: #5b4d4a;
	background-image: url("../img/filter-bg.png");
	background-size:  1200px 800px;
	background-repeat: no-repeat;
	color: #ffffff;
}

.hotel-filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}
.price label {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}
.button-show {
	line-height: 21px;
	color: #ffffff;
	background: rgba(91, 77, 74, 0.7);
}
.button-show:hover,
.button-show:focus {
	background:#ffffff;
	color: #000000;
}

.sort-result h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.sort-result p {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
}

.filter-meanings a:hover,
.filter-meanings a:focus {
  background-color: #ffffff;
  color:#81b3d2;
  opacity: 1;
  }

.filter-meanings li a {
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #81b3d2 ;
	opacity: 0.3;
}

.filter-meanings li a:active {
	color: #000000;
}
.hotel-card h3 a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}
.hotel-card h3 a:hover {
	color:#81b3d2; 
}
.hotel-card h3 a:active {
	color: rgba(0, 0, 0, 0.3)
}
.button-blue {
	background:#81b3d2;
	color:#ffffff; 
}
.button-blue:hover {
	background: #669ec0;
}
.button-blue:active {
	background:#5496bd;
	color: rgba(255, 255, 255, 0.3)
	
}
.button-brown {
	color: #ffffff;
	background: #766357;
}
.button-brown:hover {
	background: #604e43;
}
.button-brown:active {
	background:#503e33;
	color: rgba(255, 255, 255, 0.3)
}
.field,
.field:hover {
	background: #f2f2f2;
}
.field:focus {
	background: #ffffff;
}
.footer-copyright a:hover {
	color: #81b3d2;
}